// Moodle overrides.

// calendar.less.
.block .minicalendar td.weekend {
    color: lighten(@text-color, 10%);
}

// core.less.
// Bas 'fixed moving blocks to empty region' 17/01/2014 - SHA-1: 7c2d6dd6b36097290d63865acd07137b0b0497d6.
.editing.used-region-side-post.used-region-side-pre {
    #region-main {
        .make-sm-column(4);
        .make-md-column(6);
    }
    #block-region-side-post {
        .make-sm-column(4);
        .make-md-column(3);
        min-height: 100px;
    }
    #block-region-side-pre {
        .make-sm-column(4);
        .make-md-column(3);
        min-height: 100px;
    }
}

// forms.less.
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0px;
}

// At this width and above the form label stacks beside the control
@media (min-width: @screen-md-min) {
    .form-item .form-setting input[type="text"],
    .form-item .form-setting input[type="password"],
    .form-item .form-setting select,
    .mform .fcontainer .fitem .felement input[type="text"],
    .mform .fcontainer .fitem .felement input[type="password"],
    .mform .fcontainer .fitem .felement select {
        min-width: 445px;
    }
    .form-item .form-setting td input[type="text"] {
        min-width: 220px; // Device detection regular expressions boxes on 'Theme settings' page.
    }
}

// modules.less.
#page-footer {
    border-top: none;
}