// Moodle overrides.
// backup-restore.less.
.path-backup .mform .grouped_settings {
    &.section_level {
        margin-left: 0px;
        margin-right: 0px;
    }
}

// calendar.less.
.block .minicalendar td.weekend {
    color: lighten(@text-color, 10%);
}

// core.less.
// Bas 'fixed moving blocks to empty region' 17/01/2014 - SHA-1: 7c2d6dd6b36097290d63865acd07137b0b0497d6.
// Look at mixins.less for left and right on push and pull respectively.
.editing.used-region-side-post.used-region-side-pre {
    #region-main {
        .make-sm-column(4);
        .make-md-column(6);
        .make-lg-column(8);
        //.make-sm-column-push(4);
        //.make-md-column-push(3);
        //.make-lg-column-push(2);
        left: inherit;
    }
    #block-region-side-post {
        .make-sm-column(4);
        .make-md-column(3);
        .make-lg-column(2);
        min-height: 100px;
    }
    #block-region-side-pre {
        .make-sm-column(4);
        .make-md-column(3);
        .make-lg-column(2);
        //.make-sm-column-pull(4);
        //.make-md-column-pull(6);
        //.make-lg-column-pull(8);
        right: inherit;
        min-height: 100px;
    }
}
.moodle-actionmenu[data-enhanced].show .menu > li > a {
    &:hover, &:focus {
        color: @page-top-bg;
        font-weight: bold;
    }
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    border: 1px solid @page-bottom-bg-dark-spin;
    //border: 1px solid @page-bottom-bg-light;
    box-shadow: 5px 5px 20px 0 @text-color;
    background-color: @page-bottom-bg;
}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    color: @text-color;
    border-bottom: 1px solid @navbar-default-border;
    //background: @page-bottom-bg-light;
    #gradient > .vertical(#fff, @navbar-default-bg);
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
    color: @text-color;
    input {
        border-radius: @border-radius-base;
        border-color: @page-bottom-bg-light;
    }
}


// course.less.
.course-content {
    .section-summary {
        border: 1px solid @text-color;
    }
    ul {
        li.section.main {
            border: none;
            border-bottom: 2px solid @page-bottom-bg-light;
        }
    }
}

ul {
    &.topics, &.weeks {
        padding-left: 0px;
    }
}

.editing .section {
    .activity {
        a:hover, &.action-menu-shown {
                background-color: @page-bottom-bg;
        }
    }
    .editing_title .iconsmall {
        width: 13px;
        height: 13px;
        margin: 0.3em;
        padding: 0;
    }
}

#page-course-index-category {
    .generalbox.info {
        border: 1px dotted @text-color;
    }
}

// dock.less.

/* Experimental CSS for big font capability.
@dock-height: (@dock-width * 5.5);
#dock .dockedtitle h2 {
    font-size: @dock-title-font-size !important;
    top: ((@dock-height / 2) + (@dock-width / 2)) !important;
}
#dock .dockedtitle, #dock .dockedtitle div {
    height: @dock-height !important;
}
*/

#dock .dockedtitle h2 {
    font-size: @dock-title-font-size !important;
    margin-top: 4px;
    line-height: 24px;
}

#dockeditempanel {
    .dockeditempanel_content {
        background-color: rgba(red(@page-bottom-bg), green(@page-bottom-bg), blue(@page-bottom-bg), 0.95);
        border-color: rgba(red(@page-top-bg), green(@page-top-bg), blue(@page-top-bg), 0.9);
    }
}

// enrolement.less.
#page-enrol-users .enrol_user_buttons, .enrol_user_buttons {
    float: inherit;
    text-align: right;
}

// filemanager.less.
.filemanager a,
.file-picker a,
.filemanager a:hover,
.file-picker a:hover {
    color: @text-color;
}

.filemanager .fp-navbar {
    background: @page-bottom-bg-light;
    border: 1px solid @page-bottom-bg;
}

.file-picker .fp-navbar {
    background: @page-bottom-bg-light;
    border-bottom: 1px solid @page-bottom-bg;
}

.file-picker .fp-repo-area {
    border-right: 1px solid @page-bottom-bg-light;
}

.fp-pathbar {
    border-top: 1px solid @page-bottom-bg;
}

.fp-iconview .fp-filename-field .fp-filename {
    background: @page-bottom-bg-light;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 44px;
}

.fp-iconview .fp-thumbnail {
    border: 1px solid @page-bottom-bg-light;
    border-radius: 4px;
}

.fp-iconview .fp-thumbnail img {
    border: 1px solid @page-bottom-bg;
    box-shadow: 1px 1px 2px 0 @page-bottom-bg-light;
}
.fp-iconview .fp-thumbnail:hover {
    border: 1px solid @page-bottom-bg;
    box-shadow: inset 0 0 10px 0px @page-bottom-bg-light;
}
.fp-iconview .fp-filename-field {
    height: 44px;
    word-wrap: break-word;
    //overflow: visible;
}
.fp-iconview .fp-filename-field:hover {
    //overflow: visible;
    z-index: 1000;
}

.fp-toolbar .fp-btn-add,
.fp-toolbar .fp-btn-download,
.fp-toolbar .fp-btn-mkdir,
.fp-toolbar .fp-tb-help,
.fp-toolbar .fp-tb-manage,
.fp-toolbar .fp-tb-logout,
.fp-toolbar .fp-tb-refresh
 {
    border: 1px solid @page-bottom-bg;
    border-bottom: 1px solid @page-bottom-bg-light;
}

.fp-toolbar a:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, @page-bottom-bg-light 100%);
    background-color: darken(@body-bg, 8%);
}

.fp-toolbar a:active {
    background-image: radial-gradient(ellipse at center, #fff 40%, @page-bottom-bg-light 100%);
    background-color: darken(@body-bg, 12%);
}

.file-picker .fp-list .fp-repo.active {
    background: @page-bottom-bg-light;
}

.filepicker-filelist,
.filemanager-container {
    background: @body-bg;
    border: 1px solid @page-bottom-bg;
    min-height: 170px;
}

.file-picker .ygtvfocus,
.filemanager .ygtvfocus {
    background-color: @page-bottom-bg-light;
}

.filemanager .fp-content{
    overflow: auto;
    max-height: 472px;
    min-height: 177px;
}

.fp-select .fp-hr {
    border-bottom: 1px solid @page-bottom-bg-light;
}

.fp-select .fp-thumbnail {
    border: 1px solid @page-bottom-bg-dark;
    box-shadow: inset 0 0 10px 0 @page-bottom-bg;
}
.fp-select .fp-thumbnail img {
    border: 1px solid @page-bottom-bg-dark;
}

.fp-toolbar .fp-btn-add,
.fp-toolbar .fp-btn-download,
.fp-toolbar .fp-btn-mkdir,
.fp-toolbar .fp-tb-help,
.fp-toolbar .fp-tb-manage,
.fp-toolbar .fp-tb-logout,
.fp-toolbar .fp-tb-refresh
{
    border: 1px solid @page-bottom-bg;
    border-bottom: 1px solid @page-bottom-bg-light;
    background: lighten(@page-bottom-bg-light, 2%);
}

.fp-viewbar {
    border: 1px solid @page-bottom-bg;
    border-bottom: 1px solid @page-bottom-bg-light;
    background: lighten(@page-bottom-bg-light, 2%);
}

.fp-viewbar a {
    border-right: 1px solid @page-bottom-bg;
}

.fp-viewbar a.checked:hover,
.fp-viewbar a:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, @page-bottom-bg 100%);
    background-color: @page-bottom-bg;
}

.fp-viewbar a.checked,
.fp-viewbar a:active {
    background-image: radial-gradient(ellipse at center, #fff 40%, @page-bottom-bg 100%);
    background-color: @page-bottom-bg;
}

// Drag and drop support (filemanager and filepicker form elements)
.filepicker-filelist .filepicker-container,
.filemanager.fm-noitems .fm-empty-container {
    padding-top: 75px;  // Allows for two lines in the file picker (for different languages) without hitting the border on certain screen sizes.
    border: 2px dotted @page-bottom-bg;
}


// forms.less.
// Basic mforms layout, used in resources, user profile etc.
.mform {
    fieldset {
        .fitem {
            .fitemtitle {
                .fgrouplabel {
                    label {
                        padding-top: 0px;
                    }
                }
            }
        }
    }
    fieldset.hidden {
        .fitem {
            .fitemtitle {
                .make-sm-column(3);
                .make-md-column(2);
                .make-lg-column(1);
            }
            .felement {
                .make-sm-column(9);
                .make-md-column(10);
                .make-lg-column(11);
            }
        }
        > div {
            .make-sm-column(12);
            .make-sm-column-offset(0);
            .make-md-column(12);
            .make-md-column-offset(0);
            .make-lg-column(12);
            .make-lg-column-offset(0);
        }
    }
    // submit buttons
    fieldset.hidden .fitem_actionbuttons {
            .form-group;
            .form-horizontal .form-group;
            > div.felement {
                .make-sm-column(9);
                .make-sm-column-offset(3);
                .make-md-column(10);
                .make-md-column-offset(2);
                .make-lg-column(11);
                .make-lg-column-offset(1);
            }
    }
}

.breadcrumb-button .forumsearch {
    .panel;
    .panel-default;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
}

.mform .iconhelp {
    margin-right: -4px;
}

.mform fieldset.collapsible legend a.fheader {
    margin-left: 0px;
}

.path-admin .buttons,
.form-buttons {
// Counteract 'float' caused by .make-md-column(8);.
    float: none;
}

// At this width and above the form label stacks beside the control
@media (min-width: @screen-md-min) {
    .form-item .form-setting input[type="text"],
    .form-item .form-setting input[type="password"],
    .form-item .form-setting select,
    .mform .fcontainer .fitem .felement input[type="text"],
    .mform .fcontainer .fitem .felement input[type="password"],
    .mform .fcontainer .fitem .felement select {
        min-width: 445px;
    }
    .form-item .form-setting td input[type="text"] {
        min-width: 220px; // Device detection regular expressions boxes on 'Theme settings' page.
    }
}

// Effectively grade.less
.path-grade-report-grader {
    .left_scroller table td.topleft {
        border-color: @page-bottom-bg;
    }
    table#fixed_column {
        border-top-color: @page-bottom-bg;
        th {
            border-color: @page-bottom-bg;
            &.user {
                border-right-color: @page-bottom-bg;
            }
        }
    }
    table {
        border-color: @page-bottom-bg;
        tr.heading th.header {
            border-top-color: @page-bottom-bg;
        }
        td, th {
            border-left-color: @page-bottom-bg;
            border-right-color: @page-bottom-bg;
            border-bottom-color: @page-bottom-bg;
        }
    }
}

table#user-grades {
    th.item, th.categoryitem, th.courseitem, td.cell {
        border-color: @page-bottom-bg;
    }
    tr.heading th.courseitem {
        border-width: 1px;
    }
}

// login.less
.loginbox.onecolumn {
    .make-sm-column(8);
    .make-sm-column-push(2);
    .make-md-column(6);
    .make-md-column-push(3);
    .make-lg-column(4);
    .make-lg-column-push(4);
}

.loginbox.onecolumn {
    // Separate to override above.
    float: none;
    background-color: rgba(red(@page-bottom-bg), green(@page-bottom-bg), blue(@page-bottom-bg), 0.5);
}

.loginbox .loginform .form-input input[type="text"], .loginbox .loginform .form-input input[type="password"] {
    max-width: 100%;
}

// message.less.
#newmessageoverlay {
    border: 1px solid @page-bottom-bg-dark;
}

#newmessageoverlay #newmessagetext {
    background-color: @page-bottom-bg;
    border-bottom: 1px solid @page-bottom-bg-dark;
}

#newmessageoverlay {
    background-color: @page-bottom-bg-light;
}

// modules.less.
#page-footer {
    margin-top: 0;
    border-top: none;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.container-fluid {
    max-width: none;
}

@media(max-width: @screen-xs-max) {
    .block {
        margin-bottom: 10px;
    }
}

// new.less.
ul, ol {
    padding-left: 24px;
}

.dropdown-menu {
    &:hover .userpicture, &:focus .userpicture, &:active .userpicture {
        background-color: #fff;
        border: solid 2px #fff;
        border-radius: 4px;
    }
    &:hover .msg-title, &:focus .msg-title, &:active .msg-title,
    &:hover .msg-body, &:focus .msg-body, &:active .msg-body,
    &:hover .msg-sender, &:focus .msg-sender, &:active .msg-sender {
        background: transparent;
        color: #fff;
    }
    &:hover .msg-time, &:focus .msg-time, &:active .msg-time {
        background: transparent;
        color: #fff;
        span {
            background: transparent;
        }
    }
    .msg-sender {
        color: @text-color;
    }
    .msg-time {
        color: @text-color;
    }
}

// question.less.
.que .info,
.path-mod-quiz .qnbutton { // mod_quiz style sheet.
    background-color: @page-bottom-bg;
    border: 1px solid @page-bottom-bg-dark-spin;
    border-radius: 4px;
}

// tags.less.
.carousel-caption, .carousel-indicators {
    bottom: 0px;
}

// userprofile.less.
.userprofile {
    .userprofilebox {
        .profilepicture {
            .make-sm-column(6);
            .make-md-column(3);
            .make-lg-column(2);
        }
        .descriptionbox {
            .make-sm-column(6);
            .make-md-column(9);
            .make-lg-column(10);
        }
    }
}

// YUI.
.yui-skin-sam .yui-panel {
    color: @text-color;
    background-color: @page-bottom-bg;
    border: 1px solid @page-bottom-bg-dark-spin;
    border-radius: 4px;
    border-color: @page-top-bg;
}

.yui-skin-sam .yui-panel .hd,
.yui-skin-sam .yui-panel .bd,
.yui-skin-sam .yui-panel .ft {
    color: @text-color;
    background-color: @page-bottom-bg;
}

.yui-skin-sam .yui-panel .ft {
    border-radius: 0px 0px 4px 4px;
}

.yui-skin-sam .yui-panel .hd {
    #gradient > .vertical(#fff, @navbar-default-bg);
    //background: @navbar-default-bg;
    border-color: @navbar-default-border;
    border-radius: 4px;
    border-bottom: solid 1px @page-top-bg;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -2px;
    padding-bottom: 2px;
}

// Core plugins.
// Atto editor - lib\editor\atto\styles.css.
.editor_atto_content_wrap {
    background-color: white;
    color: @text-color;
}

.editor_atto_content_wrap,
.editor_atto + textarea {
    border: 1px solid @page-bottom-bg;
}

div.editor_atto_toolbar {
    background: @page-bottom-bg-light;
    border: 1px solid @page-bottom-bg;
}

div.editor_atto_toolbar button + button {
    border-left: 1px solid @page-bottom-bg;
}

.editor_atto_toolbar button:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, @page-bottom-bg-light 100%);
    background-color: darken(@body-bg, 8%);
}

.editor_atto_toolbar button:active, .editor_atto_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center, #fff 40%, @page-bottom-bg-light 100%);
    background-color: darken(@body-bg, 12%);
}

div.editor_atto_toolbar div.atto_group {
    border: 1px solid @page-bottom-bg;
    border-bottom: 1px solid @page-bottom-bg-light;
    background: lighten(@page-bottom-bg-light, 2%);
}

/* RTL Rules */
body.dir-rtl div.editor_atto_toolbar button + button {
    border-right: 1px solid @page-bottom-bg;
}

.atto_control img {
    background-color: white;
}