// Shoehorn custom additions / changes.

@page-top-bg: #1F4D87;
@page-bottom-bg: #B8D2E9;
@footer-top-bg: #269F00;
@footer-bottom-bg: #267F00;

// Body.
body {
    background-color: @page-top-bg;
}

// Header.
header {
    color: @gray-lighter;
}

// Logo.
.logoheading {
    display: inline-block;
}

// Page.
#page {
    #gradient > .vertical(@page-top-bg, @page-bottom-bg);
}

// Breadcrumb.
.breadcrumb {
    span {
        color: @text-color;
    }
    .divider {
        padding: 0 4px;
        color: @gray-lighter;
    }
}

// Blocks.
.block {
    .block-hider-show, .block-hider-hide {
        background-color: rgba(255, 255, 255, 0.7);
        vertical-align: top;
    }
}

// My home.
#region-main .block {
    color: @text-color;

    .header {
        color: @text-color;
    }
}

// Course single page carousel.
#myCourseCarousel .carousel-inner {
    padding-bottom: 15px;
    li.item {
        min-height: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }
    > .item.hidden {
        display: none !important; // I do not like '!important' but no choice here.
    }
    > .item.hidden.active {
        display: block !important; // I do not like '!important' but no choice here.
    }
}

#myCourseCarousel .carousel-control {
    color: @page-bottom-bg;
}

//.course-content #myCourseCarousel ul li.section.main {
//    border-bottom: none;
//}

// Carousel indicator pips.
#myCourseCarousel .carousel-indicators {
    bottom: -15px;
    li {
        border-color: @page-bottom-bg;

        &.active {
            background-color: @page-bottom-bg;
            border-width: 2px;
        }
    }
}

// Page info.
#page-info {
    margin-top: 1em;
    text-align: center;
}

// Footer.
#page-footer {
    #gradient > .vertical(@footer-top-bg, @footer-bottom-bg);
    color: @gray-lighter;
}

#page-footer a {
    color: @gray-lighter;
    &:hover, &:active {
        color: #ccc;
    }
}

// Footer menu.
#footermenu .copyright:before {
    content: "\00A9"; // Copyright symbol.
}

#footermenu .divider {
    padding-left: 3px;
    padding-right: 3px;
}