// Shoehorn custom additions / changes.

// HTML.
html {
    background-color: @footer-bottom-bg;
}

// Body.
body {
    background-color: @page-top-bg;
}

// Header.
header {
    color: @gray-lighter;
}

// Logo.
.logoheading {
    display: inline-block;
}

// Front page slider.
#frontpageslider {
    padding: 10px;
}

// Page.
#page {
    #gradient > .vertical(@page-top-bg, @page-bottom-bg);
}

// Breadcrumb.
.breadcrumb {
    span {
        color: @text-color;
    }
    .divider {
        padding: 0 4px;
        color: @gray-lighter;
    }
}

// Blocks.
.block {
    .block-hider-show, .block-hider-hide {
        background-color: rgba(255, 255, 255, 0.7);
        vertical-align: top;
    }
}

// My home.
#region-main .block {
    color: @text-color;

    .header {
        color: @text-color;
    }
}

// Course single page carousel.
#myCourseCarousel .carousel-inner {
    padding-bottom: 15px;
    li.item {
        min-height: 200px;
        padding-left: 30px;
        padding-right: 30px;
    }
    > .item.hidden {
        display: none !important; // I do not like '!important' but no choice here.
    }
    > .item.hidden.active {
        display: block !important; // I do not like '!important' but no choice here.
    }
}

#myCourseCarousel .carousel-control {
    color: @page-bottom-bg;
}

//.course-content #myCourseCarousel ul li.section.main {
//    border-bottom: none;
//}

// Carousel indicator pips.
#myCourseCarousel .carousel-indicators {
    bottom: -15px;
    li {
        border-color: @page-bottom-bg;

        &.active {
            background-color: @page-bottom-bg;
            border-width: 2px;
        }
    }
}

// Marketing spots.
.marketingspot {
    .panel;
    .panel-default;
    padding: 4px;
}

.marketingspot h2 {
    margin-top: 4px;
}

// Page bottom region.
#block-region-page-bottom {
    margin-top: 1em;
}

body.editing #block-region-page-bottom .block {
    min-height: 200px;
    max-height: 200px;
    overflow-y: overlay;
    //.make-sm-column(3);
    //.make-md-column(3);
    //.make-lg-column(3);
}

/*
#block-region-page-bottom {
    .row {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: (@grid-gutter-width / 2);
        padding-right: (@grid-gutter-width / 2);
    }
    .col-md-3 {
        margin-left: (@grid-gutter-width / 2);
        margin-right: (@grid-gutter-width / 2);
        padding-left: 0px;
        padding-right: 0px;
    }
}
*/

// Page info.
#page-info {
    margin-top: 1em;
    text-align: center;
}

// Footer.
#page-footer {
    #gradient > .vertical(@footer-top-bg, @footer-bottom-bg);
    color: @page-bottom-bg-light;
}

#page-footer a {
    color: @page-bottom-bg-light;
    &:hover, &:active, &:focus {
        color: lighten(@page-bottom-bg-light, 2%);
    }
}

#page-footer .block {
    color: @text-color;
    a {
        color: @link-color;
        &:hover, &:active, &:focus {
            color: darken(@body-bg, 8%);
        }
    }
    .hasevent a {
        &:hover, &:active, &:focus {
            color: lighten(@text-color, 8%);
        }
    }
}

// Footer menu.
#footermenu .divider {
    padding-left: 3px;
    padding-right: 3px;
}

// Login page.
.loginbox .loginpanel .loginsub:before {
    .panel;
    .panel-default;
    padding: 4px;
}

.loginbox .loginpanel .loginsub label[for='username'] {
    padding-top: 8px;
}

// General.
select, input {
    border-color: @page-bottom-bg;
    border-radius: 4px;
}

.copyright:before {
    content: "\00A9"; // Copyright symbol.
}


// YUI dialog.
// core.less ish.
.debuggingmessage {
    margin-left: 18px;
}

.moodle-dialogue-base .closebutton {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
}

// Way off piste...
// http://css-tricks.com/custom-scrollbars-in-webkit/ and http://stackoverflow.com/questions/7725652/css-scrollbar-style-cross-browser
body {
    scrollbar-face-color: @page-bottom-bg;
    scrollbar-shadow-color: @page-top-bg;
    scrollbar-highlight-color: @page-bottom-bg-light;
    scrollbar-3dlight-color: @page-bottom-bg-light;
    scrollbar-darkshadow-color: @page-bottom-bg-dark;
    scrollbar-track-color: @page-bottom-bg;
    scrollbar-arrow-color: @text-color;
}

::-webkit-scrollbar {
    background-color: @page-bottom-bg-dark;
}

/*::-webkit-scrollbar-button {
    background-color: @page-bottom-bg;
    border-radius: 4px;
    border: 2px solid @page-bottom-bg-dark;
}*/

::-webkit-scrollbar-track {
    background-color: @page-bottom-bg;
}
::-webkit-scrollbar-track-piece {
    background-color: @page-bottom-bg-light;
}
::-webkit-scrollbar-thumb {
    background-color: @page-bottom-bg;
    border-radius: 5px;
    border: 2px solid @page-bottom-bg-dark;
}
::-webkit-scrollbar-corner {
    background-color: @page-bottom-bg-light;
}
/*::-webkit-resizer {
    background-color: @page-bottom-bg-dark;
}*/